.play_store_img{
  width: 800px;
  height: 200px;
}
.phone_img{
    width: 80%;
    height: 100%;
    margin-left: 100px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .play_store_img{
    width:100%;
    height: 150px;
  }
  .phone_img{
    width: 80%;
    height: 100%;
    margin-left: 50px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .play_store_img{
    width:100%;
    height: 150px;
  }
  .phone_img{
    width: 80%;
    height: 100%;
    margin-left: 100px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}