
.img_offer{
    width: 450px;
    height:281.02px;
}
.img_border img{
    margin-top: 15px;
    border-radius: 10px;
}
@media only screen and (max-width: 600px) {
    .img_offer{
        width:100%;
        height:200px;
    }
    .margin_card{
        margin-top: 100px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .img_offer{
        width: 450px;
        height:281.02px;
        
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .img_offer{
        margin-top: 10;
        width: 450px;
        height:281.02px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .img_offer{
        margin-top: 10;
        width: 450px;
        height:281.02px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .img_offer{
        width: 450px;
        height:281.02px;
    }
}